.Tilt{
  background: linear-gradient(89deg, #ff5edf 0%, #04C8DE 100%);
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px;
  margin-top: -20px;
  margin-left: 20px;
  position: absolute;
  top: 35px;
  left: 0;
}

