.bounding-box {
    position: absolute;
    box-shadow:  0 0 0 2px #149df2 inset;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.wrapper{
    position: relative;
    width: 300px;
    margin: 0 auto;
}